<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.CartMapper">

	<select id="selectStoreNameAll" resultType="CartMenuDTO">
		SELECT * FROM
		cart_tbl c
		LEFT OUTER JOIN menu_tbl s ON c.storeCode = s.storeCode
		UNION
		SELECT * FROM cart_tbl c
		RIGHT OUTER JOIN menu_tbl s ON c.storeCode = s.storeCode;
	</select>

</mapper>